# Combining and Exporting Data Part 1

## This script contains the following points:

### 1. Import the data set into Jupyter as a new dataframe

### 2. Check the dimension of the imported dataframe

### 3. Merge the dataframe with your df_ords dataframe

### 4. Use the indicator arguement to check whether there was a full match between the two dataframes

### 5. Export in pickle format

In [1]:
## Import libraries 
import pandas as pd
import numpy as np
import os

#### Importing data

In [5]:
## Importing data by creating a path 
path = r'C:\Users\bgros\Documents\Career Foundry\07-2023 Instacart Basket Analysis'

In [15]:
## Importing orders checked data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [16]:
## Importing orders prior data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order products prior.csv'), index_col = False)

#### Checking dimensions of imported data

In [17]:
## Consistency Check for df_ords_prior 
df_ords_prior.shape

(32434489, 4)

In [18]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
## Consistency Check for df_ords
df_ords.shape

(3421083, 6)

In [20]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

#### Merging data frames

In [23]:
## Merging data frames 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [24]:
## Consistency check for merged data 
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

#### Use the indicator arguement to check whether there was a full match between the two dataframes

In [25]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [26]:
df_merged_large.shape

(32434489, 10)

#### Export in pickle format

In [28]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))