# Combining and Exporting Data Part 2

## This script contains the following points:

### 1. Import Libraries and Data

### 2. Task 4.6

### Importing Libraries

In [1]:
## Import libraries 
import pandas as pd
import numpy as np
import os

## Task 4.6

#### Question 3 - In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [2]:
## Importing data by creating a path 
path = r'C:\Users\bgros\Documents\Career Foundry\07-2023 Instacart Basket Analysis'

In [13]:
## Importing orders products combined data
df_ords_prods_combo = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### Question 4 - Check the shape of the imported dataframe

In [14]:
## Consistency checks 
df_ords_prods_combo.shape

(32434489, 10)

#### Question 5 - Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [15]:
## Importing products data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [16]:
## Consistency Checks
df_prods.shape

(49672, 5)

In [17]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
df_ords_prods_combo.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [24]:
## Dropping _merge column otherwise there will be an error 
df_ords_prods_combo = df_ords_prods_combo.drop(columns = ['_merge'])

In [25]:
## Merging Data 
df_merged = df_ords_prods_combo.merge(df_prods, on = 'product_id', indicator = True)

In [26]:
## Consistency checks 
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

#### Question 6 - Confirm the results of the merge using the merge flag.

In [27]:
## Checking values 
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [28]:
## Consistency checks
df_merged.shape

(32404859, 14)

#### Question 7 - Export the newly created dataframe as orders_products_merged in a suitable format

In [29]:
## Exporting in pickle format 
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))